/* base-style.css - 15/03/2016 
   Autor: Marcos Willian de Souza */
body {
	font: 100% Arial;
	color: #8B4513;
	background-image: url("../img/wood.png");
	background-repeat: repeat;
}
#container{
	background-image: url("../img/wood.png");
	margin: 0 auto;
	width: 990px;
	
	/* sombra do container */
  -webkit-box-shadow: 0px 0px 50px #8B4513; /* Saf3.0+, Chrome */
     -moz-box-shadow: 0px 0px 50px #8B4513; /* FF3.5 - 3.6 */
          box-shadow: 0px 0px 50px #8B4513; /* Opera 10.5, IE9, FF4+, Chrome 10+ */
		  
	/* Cantos superior arredondados */
	border-top-left-radius: 2em 2em;
	border-top-right-radius: 2em 2em;
	
	/* Cantos inferior arredondados */
	border-bottom-right-radius: 2em 2em;
	border-bottom-left-radius:  2em 2em;
}
header {
	/* Cantos superior arredondados */
	border-top-left-radius: 2em 2em;
	border-top-right-radius: 2em 2em;
}
header h1{
	text-shadow: 2px 2px #000000;
	text-align: center;
	padding: 10px 10px 10px 25px;
}
footer{
	/* Cantos inferior arredondados */
	border-bottom-right-radius: 2em 2em;
	border-bottom-left-radius:  2em 2em;
}
footer p {
	padding: 10px 5px 10px 25px; 
	text-align: center;
	text-shadow: 1px 1px #000000;
}
header,
footer {
	background-color: #FFE7BA; 
	filter: alpha(opacity=40); /* IE */
	-moz-opacity: 0.4; /* Mozilla */
	opacity: 0.4;/* CSS3 */
	
	/* sombra do container */
  -webkit-box-shadow: 0px 0px 50px #8B4513; /* Saf3.0+, Chrome */
     -moz-box-shadow: 0px 0px 50px #8B4513; /* FF3.5 - 3.6 */
          box-shadow: 0px 0px 50px #8B4513; /* Opera 10.5, IE9, FF4+, Chrome 10+ */
}


